* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: georgia, serif; 
    font-size: 16px;
    line-height: 24px;
    background-color: #00BFFF;
}

p {
    margin-bottom: 16px; 
}

header {
    background-color: #000000;
    color: #ffffff; 
    height: 60px; 
    
}

header h1 {
    text-align: center;
    font-family: arial, sans-serif; 
    font-size: 50px;
    font-weight: 500;
    padding: 10px;

}
    
nav { 
    color: #000000;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center; 
    margin-top: 10px; 
    word-spacing: 20px;
}

header a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration: none; 
}

header a:hover {
    color: #ffffff;   
}
header a:active {
    text-decoration: underline;    
}

article {
    clear: both; 
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

#index article h2 {
    align-content: center;
    font-size: 24px;
    line-height: 24px;
    margin: 4px;
}

article p {
    text-align: center;
    font-size: 20px;
    padding: 5px; 
}

.twitter-timeline {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#index h3 {
    align-content: center:
}

#self2 {
    width: 50%;
}

#booth {
    width: 50%:
}

.floatleft {
    float: left;
}

#about footer {
    clear: both;
}

#resume {
    width: 100%;
}

#keys {
    margin-top: 15px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

footer {
    clear: both;
    text-align: center;
    font-size: 14px; 
    line-height: 30
}

@media screen and (max-width: 600px) {

    body {
        padding: 5%; 
    }

    nav {
        margin-left: 5%; 
        width: 100%;  
    }   
    article {
        clear: left;    
        margin-left: 5%; 
        width: 1000%
    }

/***I cant make picture widths 100% without them becoming giant again and disregarding the size I set it too
- why are my videos huge?
- how should i prelude into my articles?
- how do i make the TARYN BRAY go down more without messing up the black background?
- format my about page
- in @media screen everything messes up and i dont know how to format that either